h2 {
  font-size: 16px;
  font-weight: 700;
}

section {
  padding: 24px 16px;
  border-top: 1px solid #ccc;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}